version: "3.8"
services:
    speedtest:
        build: speedtest
        volumes:
            - ./speedtest:/app
        container_name: speedtester
        env_file:
            - ./.env
        networks:
            - results
    mongodb:
        image: mongo:4.4
        restart: always
        container_name: mongodb
        volumes:
            - ./db:/data/db
        networks:
            - backend
    api:
        build: api
        volumes:
            - ./api:/app
        container_name: api
        networks:
            - backend
            - results
            - front
        env_file:
            - ./.env
        ports:
            - ${API_PORT}:${API_PORT}
    ui:
        build: ui
        volumes:
            - ./ui:/app
        container_name: ui
        networks:
            - front
        ports:
            - ${FRONT_PORT}:3000
            - 35729:35729
        environment:
            - CHOKIDAR_USEPOLLING=true
networks:
    backend:
    results:
    front:
